<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %> </td>
    <td><%= link_to 'Destroy', user,method: :delete, data: {confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
</table>
<br>
<%=link_to 'New User', new_user_path %>
