<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript">
                //Imageオブジェクトを生成して、画像ファイルを先読みしておく
                var img_board = new Image();
                var img_black = new Image();
                var img_white = new Image();
                img_board.src = "assets/board.png";
                img_black.src = "assets/black.png";
                img_white.src = "assets/white.png";

                var game = new Game();
                var board = new Board();
                var playerColor = new Array(1);


            </script>
        </head>
        <body height="550" onLoad="setGame(game,board,playerColor)">

            <canvas width="500" height="500" id="othello"></canvas>
            <p id="turn"></p>
            <p id="gameset"></p>

            <form>
                <input type="radio" name="player" checked onclick="setPlayerBlack(game,playerColor)">黒
                <input type="radio" name="player" onclick="setPlayerWhite(game,playerColor)">白
                <input type="button" value="start" onclick="GameStart(game,board,playerColor)">
                <input type="button" value="reset" onclick="GameReset(game,board,playerColor)">
            </form>
        </body>
    </html>
