<header class="navbar navbar-fixed-top navbar-inverse" >
  <div calss="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Log in ", '/signup' %></li>
      </ul>
    </nav>
  </div>
</header>
